@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.territory {
    &:not(.selected) {
        &:hover {
            path {
                fill-opacity: 0.9;
            }
        }
    }

    text {
        font-weight: 500;
    }

    &.selected {
        & path {
            fill-opacity: 1;
            stroke: orange;
        }

        & text {
            font-weight: 800;
        }

        & circle {
            stroke-width: 1.3;
        }
    }

    &.overflow {
        animation: fadein 1s;
    }

    * {
        cursor: pointer;
    }

    path {
        &.unoccupied {
            fill: #aabbcc;
        }

        &.player1 {
            fill: #ff0000;
        }

        &.player2 {
            fill: #0000ff;
        }

        transform: translate(-167.997px, -118.555px);
        fill-opacity: 0.7;
        pointer-events: all;
        stroke-opacity: 1;
        fill: transparent;
        fill-rule: evenodd;
        stroke: #000;
        stroke-width: 1.2;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        marker: none;
        marker-start: none;
        marker-mid: none;
        marker-end: none;
        stroke-miterlimit: 4.32165003;
        stroke-dasharray: none;
        stroke-dashoffset: 0;
        visibility: visible;
        display: inline;
        overflow: visible;
    }
}

text {
    user-select: none;
}

.deploy-ui {
    animation: fadein 1s;
    .button {
        cursor: pointer;
    }
}